{% extends 'security/loginbase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
    
{% block body %}
    {% if error %}
        <div class="container">
            <div class="alert alert-danger fade in alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        </div>
    {% endif %}
    <div class='fd_login-page'>
        <div class='fd_form'>
            <div class='fd_form-logo'> 
                <div><img style="vertical-align:middle;" src=" {{ asset('images/logo.png') }}" width="150" height="150"/></div>
            </div>
            <form onsubmit="onLogin()" class="fd_login-form" action="{{ path('login') }}" method="post">
                <input name="_username" type="text" placeholder="Email"/>
                <input name="_password" type="password" placeholder="Password"/>
                <button>Login</button>
                <p class="fd_message">Non hai un account? <a href="https://www.furryden.it/register/">Creane uno!</a></p>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(".loader").fadeOut();
        function onLogin() {
            $(".loader").fadeIn();
        }
    </script>
{% endblock %}