@media screen and (max-width: 750px) {
    .mobile-data {
        display: flex
    }

    .mobile-box {
        width: 100%;
        border: 1px gray;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.2), 0 5px 5px 0 rgba(0,0,0,.24);
    }
}