{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
      	#map {
        	position: absolute;
    		top:0px;
		   	bottom: 0;
		    width: 100%;
    	}
    </style>
{% endblock %}

{% block body %}
	<div class="main" id="map">
	</div>
	<div class="sidenav">
			<a href="#about">Aggiungi marker</a>
			<a href="#services">Logout</a>
			<div class="sidebarlogo">
			<img src=" {{ asset('images/logo.png') }}" width="60" height="60"/>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		function initMap() {
		  var uluru = {lat: 41.890251, lng: 12.492373};
		  var map = new google.maps.Map(
		      document.getElementById('map'), {zoom: 4, center: uluru});
		  var marker = new google.maps.Marker({position: uluru, map: map});
		}
    </script>
    <script async defer
   		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyEDy7B__fUUmJsMDaoLGUrClpCmbQPic&callback=initMap">
    </script>
{% endblock %}