{% extends 'base.html.twig' %}

{% block body %}
	<div class="fd_main">
		<div id="menuButton" class="circle" onclick="toggleMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
		<div class="fd_sidenav" id="sidenav_menu">
			<div class="fd_sidenav_logo">
				<div><img onclick="furryden()" src=" {{ asset('images/maplogo.png') }}" width="200" height="77"/></div>
			</div>
	        <div class="fd_sidenav-elements">
				<div class="fd_sidenav_options">
					{% block sidenav_options %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div id="fd_body" class="blue-bg">
			{% block fd_body %}
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
        var isOpen=false;
        function toggleMenu(x) {
            if(isOpen) {
                isOpen = false;
                document.getElementById("sidenav_menu").style.width="0px";
            } else {
                isOpen = true;
                document.getElementById("sidenav_menu").style.width="280px";
            }
            x.classList.toggle("change");
        }
		function furryden() {
			document.location.href="https://www.furryden.it";
		}
	</script>
{% endblock %}